[mysqld]
basedir=/home/runner/work/LineairDB-storage-engine/LineairDB-storage-engine/mysql-server/build
datadir=/home/runner/work/LineairDB-storage-engine/LineairDB-storage-engine/mysql-server/build/data

log-error=/home/runner/work/LineairDB-storage-engine/LineairDB-storage-engine/mysql-server/build
