[submodule "third_party/LineairDB"]
path = third_party/LineairDB
url = https://github.com/nikezono/LineairDB.git
[submodule "third_party/mysql-server"]
	path = third_party/mysql-server
	url = https://github.com/mysql/mysql-server.git
