[submodule "third_party/mysql-server"]
path = third_party/mysql-server
url = git@github.com:mysql/mysql-server.git
ignore = dirty
[submodule "third_party/benchbase"]
path = third_party/benchbase
url = git@github.com:cmu-db/benchbase.git
ignore = dirty
[submodule "third_party/LineairDB"]
path = third_party/LineairDB
	url = git@github.com:wasanemon/LineairDB-ssh.git
branch = secondary_index_test

[submodule "third_party/mysql-cluster"]
	path = third_party/mysql-cluster
	url = https://github.com/mitou-Kamo/mysql-cluster
