[mysqld]
basedir=/work/LineairDB-storage-engine/build
datadir=/work/LineairDB-storage-engine/build/data

# Use the release plugin directory where LineairDB plugin is built
plugin_dir=/work/LineairDB-storage-engine/release/plugin_output_directory
innodb_thread_concurrency=24
default_storage_engine=innodb
general_log=1

# Group Replication requirements
server_id=1
gtid_mode=ON
enforce_gtid_consistency=ON
binlog_format=ROW
log_slave_updates=ON
binlog_checksum=NONE
master_info_repository=TABLE
relay_log_info_repository=TABLE
