[mysqld]
basedir=/home/ubuntu/LineairDB-storage-engine/build
datadir=/home/ubuntu/LineairDB-storage-engine/build/data

plugin_dir=plugin_output_directory
innodb_thread_concurrency=20
default_storage_engine=innodb

bind-address = 0.0.0.0
mysqlx-bind-address = 0.0.0.0

skip-name-resolve

server-id = 1
gtid_mode = ON
enforce_gtid_consistency = ON
log_bin = binlog
port = 3306

rpl_semi_sync_source_enabled = 1
rpl_semi_sync_source_timeout = 4294967295
rpl_semi_sync_source_wait_for_replica_count = 1

plugin-load-add=LineairDB=ha_lineairdb_storage_engine.so
plugin-load-add=rpl_semi_sync_source=semisync_source.so