[mysqld]
basedir=/home/ubuntu/LineairDB-storage-engine/build
datadir=/home/ubuntu/LineairDB-storage-engine/build/data

plugin_dir=plugin_output_directory
innodb_thread_concurrency=24
default_storage_engine=innodb

bind-address = 0.0.0.0
mysqlx-bind-address = 0.0.0.0

skip-name-resolve

server-id=102
gtid_mode = ON
enforce_gtid_consistency = ON
sync_relay_log=1
read_only=ON

plugin-load-add=LineairDB=ha_lineairdb_storage_engine.so
plugin-load-add=rpl_semi_sync_replica=semisync_replica.so