[mysqld]
basedir=/home/tatsu/LineairDB-storage-engine/build
datadir=/home/tatsu/LineairDB-storage-engine/build/data_workflows

plugin_dir=plugin_output_directory
plugin-load-add=LINEAIRDB=ha_lineairdb_storage_engine.so
innodb_thread_concurrency=24
default_storage_engine=innodb
general_log=1
disable-log-bin