[mysqld]
basedir=/home/wasanemon/project/LineairDB-storage-engine-ssh/build/
datadir=/home/wasanemon/project/LineairDB-storage-engine-ssh/build/data_test

socket=/tmp/mysql-test.sock

plugin_dir=plugin_output_directory
plugin-load=ha_lineairdb_storage_engine.so
innodb_thread_concurrency=24
default_storage_engine=innodb
general_log=1
disable-log-bin

[client]
socket=/tmp/mysql-test.sock

[mysql]
socket=/tmp/mysql-test.sock

