[mysqld]
basedir=/home/tatsu/LineairDB-storage-engine/build
datadir=/home/tatsu/LineairDB-storage-engine/build/data

plugin_dir=plugin_output_directory
innodb_thread_concurrency=24
default_storage_engine=lineairdb
general_log=1
disable-log-bin
