name: Makefile CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-11

    steps:
#     - uses: actions/checkout@v3
    
#     - name: configure
#       run: ./configure
      
#     - name: Install dependencies
#       run: make
      
#     - name: Run check
#       run: make check
      
#     - name: Run distcheck
#       run: make distcheck

    - name: Install BATS
      run: npm install -g bats
      
    - name: Clone MySQL-server
      run: 
        git clone https://github.com/mysql/mysql-server.git
        
    - name: Set symbolic link in MySQL-server
      run:
        ln -s LineairDB-storage-engine mysql-server/storage/lineairdb
    - name: Make build directory
      run:
        mkdir mysql-server/build
    - name: CMake, MySQL initialization and start server
      run:
        cd mysql-server/build;
        mkdir data;
        cmake .. -DWITH_DEBUG=ON -DDOWNLOAD_BOOST=ON -DWITH_BOOST=../boost;
        make -j 3;
        bin/mysqld --initialize-insecure --basedir=$(pwd) --datadir=$(pwd)/data;
        touch my.cnf;
        echo "[mysqld]\nbasedir=/home/runner/work/LineairDB-storage-engine/LineairDB-storage-engine/mysql-server/build\ndatadir=/home/runner/work/LineairDB-storage-engine/LineairDB-storage-engine/mysql-server/build/data" > my.cnf;
        bin/mysqld --defaults-file=./my.cnf --daemonize;
        echo "INSTALL PLUGIN lineairdb SONAME 'ha_lineairdb_storage_engine.so'" | bin/mysql -u root;
        echo show engines | bin/mysql -u root;
    - name: execute testing
      run: bats tests/test.bats
